<%- include('header') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <img src="images/uwf.png" />
    <hr />
    <h3>Payment has been received. You will receive a email.</h3>
    <h3>Add to Calendar</h3>
</div>
</div>