<%- include('header-admin') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <img src="images/uwf.png" />
    
    <hr />
    <h1>Admin Dashboard</h1>
    <h3>Mon 28th</h3>
    <ul>
      <li><a href="#">View</a> Full 7am 4</li>
      <li><a href="#">View</a> Full 12pm 33</li>
      <li><a href="#">View</a> 3pm 31</li>
    </ul>
    <h3>Tue 29th</h3>
    <ul>
      <li><a href="#">View</a> 8am 12</li>
      <li><a href="#">View</a> 7am 4</li>
      <li><a href="#">View</a> 12pm 33</li>
      <li><a href="#">View</a> 3pm 31</li>
    </ul>
</div>
</div>