<%- include('header-admin') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <img src="images/uwf.png" />
    
    <hr />
    <h1>Email</h1>
    
<form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
</div>
</div>