<html>
  <head>
    <title>Registration: <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a href="/"><img src="/images/home.png" style="height:50px;float:left" /></a>
