<html>
  <head>
    <title>Registration: <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a href="/"><img src="/images/home.png" style="height:50px;float:left" /></a>
    <div class="row">
      <div class="large-6 large-offset-3">
        <a href="/sessions">Sessions</a> | <a href="/email">Email</a> | <a href="/student-type">Student Types</a>
      </div>
    </div>
