<%- include('header') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <img src="images/uwf.png" />
    <hr />
    <h3>Hi. As a fulltime student we would like you to pick an in-person session.</h3>
    <h1>Mon 28th</h1>
    <ul>
      <li><a href="/payment">Register</a> 8am 12</li>
      <li><a href="#">Register</a> 7am 4</li>
      <li><a href="#">Register</a> 12pm 33</li>
      <li><a href="#">Register</a> 3pm 31</li>
    </ul>
    <h1>Tue 29th</h1>
    <ul>
      <li><a href="#">Register</a> 8am 12</li>
      <li><a href="#">Register</a> 7am 4</li>
      <li><a href="#">Register</a> 12pm 33</li>
      <li><a href="#">Register</a> 3pm 31</li>
    </ul>
</div>
</div>