<%- include('header-admin') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <img src="images/uwf.png" />
    
    <hr />
    <h1>Student Types</h1>
    <h3>Mon 28th</h3>
    <form method="post" action="/student-type" >
  	  <input type="text" name="studentType" placeholder="add a student type">
  	  <input type="submit" value="+" class="button" style="float:right">
  	  <br><br>
    </form>
    <ul>
      <li>Full</li>
      <li>Part</li>
      <li>Transfer</li>
    </ul>
</div>
</div>